[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none
csharp_style_var_for_built_in_types=false:silent
csharp_style_var_when_type_is_apparent=false:silent
csharp_style_var_elsewhere=false:silent

[*.{cs,vb}]
dotnet_style_prefer_conditional_expression_over_return=true:silent